@import '../variables.scss';

.mediaHeader {
    height: 100vh;
    background-color: $themeColor;
    margin-top: $appTopMargin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;

    .viewportHeader {
        .header {
            text-align: center;

            .actions {
                display: flex;
                flex-direction: row;
                justify-content: center;

                div {
                    width: 300px;
                }
            }

            h1 {
                margin: auto;
                color: $white;
                text-align: center;
                line-height: 1.5;
                font-size: 4.5rem;
            }

            line-height: 1;
        }
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */

    .mediaHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .viewportHeader {
            .header {
                padding: 30px 0;

                .actions {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 0 auto;

                    div {
                        width: 100%;
                    }
                }

                h1 {
                    font-size: 3rem;
                }

                font-weight: 600;
            }
        }
    }
}

@media only screen and (min-device-width : 480px) and (max-device-width : 1080) {
    img {
        display: none;
    }
}